{% extends 'blog/base_blog.html' %}


{% block title %}
    {{ post.title }} - {{ block.super }}
{% endblock %}


{% block content %}
    <h1 class="mt-5">
        {{ post.title }}
    </h1>
    <div class="box">
        <p>
            {{ post.body }}
        </p>
    </div>

    <h4>Комментарии:</h4>
    {% if user.is_authenticated %}
        <form action="" method="post">
            {% csrf_token %}
            {% for field in form %}
                <div class="form-group">
                    {{ field }}
                </div>
            {% endfor %}

            <button class="btn btn-dark" type="submit" name="button">Отправить</button>

        </form>
    {% else %}
        <p>Что бы оставить комментарий войдите на сайт</p>
    {% endif %}
    <hr>
    {% for comment in post.comments.all %}
        Пользователь - {{ comment.author }}<br>
        {{ comment.body }} <br>
        Добавлен - {{ comment.create_date }}<br><br>
    {% endfor %}

{% endblock %}