{% load mptt_tags static %}
<ul class="menu" style="padding-inline-start: 0;">
    {% recursetree items %}
        <li class="dropdown-item">
            {% if node.url %}
                <a href="{{ node.url }}">{{ node.title }}</a>
            {% elif node.anchor %}
                <a href="{{ node.get_anchor }}">{{ node.title }}</a>
            {% else %}
                <a href="{{ node.content_object.get_absolute_url }}">{{ node.title }}</a>
            {% endif %}
            {% if not node.is_leaf_node %}
                <ul class="children dropdown-item">
                    {{ children }}
                </ul>
            {% endif %}
        </li>
    {% endrecursetree %}
</ul>